/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1.5;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************/

.pt-10 {
	padding-top: 40px;
}

.pt-40 {
	padding-top: 160px;
}

.pb-10 {
	padding-bottom: 40px;
}

.pb-40 {
	padding-bottom: 160px;
}

.pt-32 {
	padding-top: 128px;
}

.pb-32 {
	padding-bottom: 128px;
}

.pt-18 {
	padding-top: 72px;
}

.pb-18 {
	padding-bottom: 72px;
}

.ml-a {
	margin-left: auto;
}

.ml-1 {
	margin-left: 4px;
}

.ml-2{
	margin-left: 8px;
}

.ml-3 {
	margin-left: 12px;
}

.ml-4 {
	margin-left: 16px;
}

.ml-5 {
	margin-left: 20px;
}

.ml-6 {
	margin-left: 24px;
}

.ml-7 {
	margin-left: 28px;
}

.ml-8 {
	margin-left: 32px;
}

.ml-9 {
	margin-left: 36px;
}

.ml-10 {
	margin-left: 40px;
}

.ml-25 {
	margin-left: 100px;
}

.ml-28 {
	margin-left: 112px;
}

.mr-a {
	margin-right: auto;
}

.mr-5 {
	margin-right: 20px;
}

.mr-6 {
	margin-right: 24px;
}

.mb-6 {
	margin-bottom: 24px;
}

.mb-7 {
	margin-bottom: 28px;
}

.mb-8{
	margin-bottom: 32px;
}

.mb-9 {
	margin-bottom: 36px;
}

.mb-40 {
	margin-bottom: 160px;
}

.self-end {
	align-self: flex-end;
}

.self-start {
	align-self: flex-start;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.items-right {
	align-items: right;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.card {
	border: 1px solid #e3e3e3;
	padding: 16px;
	width: calc(50% - 12px);
}

.w-856{
	width: 856px;
}

/********************************/

@font-face {
	font-family: 'Bruno Ace SC';
	font-style: normal;
	font-weight: 400;
	src: local('Bruno Ace SC'), url('https://fonts.cdnfonts.com/s/15751/BrunoAceSC-Regular.woff') format('woff');
}

body {
	font-family: 'Bruno Ace SC', sans-serif;
	font-size: 16px;

}

.header {
	background: #000000;
}

.container {
	width: 1296px;
	margin: 0 auto;
}

.header li a {
	color: #D1D1D1;
	font-size: 16px;
	text-decoration: none;
}

.header li a:hover {
	color: #af1923;
}

.banner {
	background: #000000;
}

.banner-text {
	width: 636px;
}

.contactme-button {
	color: #000;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	padding: 12px 24px;
	align-items: flex-start;
	gap: 4px;
	border-radius: 32px;
	background: #FFF;
}

.banner-text h1 {
	color: #00FFA3;
	font-size: 128px;
}

.banner-text h2 {
	color: #FFF;
	font-size: 64px;
}

.introduction {
	background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}
.introduction-text {
	width: 526px;
}

.introduction-text h3 {
	color: #FFF;
	font-size: 64px;
}

.introduction-text p {
	color: #FFF;
	font-size: 24px;
}

.aboutme {
	background: #fff;
}

.aboutme ol {
	width: 636px;

	align-items: center;         
	flex-wrap: wrap; 
}

.aboutme ol li {
	width: 274px;
}

.aboutme ol li:hover {
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.aboutme h3 {
	color: #15161D;
	font-size: 20px;
}

.aboutme h4 {
	color: #15161D;
	font-size: 20px;
}

.aboutme h5 {
	color: #15161D;
	font-size: 16px;
}

.aboutme-text {
	width: 526px;
}

.aboutme-text h3 {
	color: #000;
	font-size: 64px;
}

.aboutme-text p {
	color: #15161D;
	font-size: 24px;
}

.contact {
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact .image {
	/* object-fit: cover; 讓圖維持設定好的寬高，並且圖片會自動裁切掉邊緣，防止圖片被壓縮變形 */
	/* 可參考文章 https://www.casper.tw/development/2020/10/11/img-cover/ */
	object-fit: cover;
	/* 加入圓角 */
	border-radius: 40px;
	width: 162px;
	height: 162px;
}

.contact .image:hover {
	box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
	border-radius: 40px;
}

.contact-title {
	width: 767px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.contact h3 {
	color: #FFF;
	font-size: 64px;
}

.myprojects {
	background: #fff;
}

.myprojects h3 {
	color: #000;
	font-size: 64px;
	width: 746px;
}

.myprojects p {
	color: #15161D;
	font-size: 16px;
	margin-bottom: 88px;
}

.seemore-button {
	display: flex;
	padding: 12px 24px;
	align-items: flex-start;
	gap: 4px;

	border-radius: 32px;
	background: #000;
	color: #FFF;
	width: 138px;
	text-decoration: none;
}

footer {
	text-align:center;
	background: #000;
}

footer p {
	color: #FFF;
	text-align: center;
}



